@base-colors: #1f1f1f, #f1f1f1, darkred, red, darkblue, blue, lightblue, green, yellow, purple, #ffd700, silver, #cd7f32;
@base-names: black, white, darkred, red, darkblue, blue, lightblue, green, yellow, purple, gold, silver, bronze;

.generate-root-vars(@i: 1) when (@i <= length(@base-names)) {
  @name: extract(@base-names, @i);
  @color: extract(@base-colors, @i);

  // Create original, light, and dark CSS custom properties
  --@{name}: @{color};
  --@{name}-light: lighten(@color, 20%);
  --@{name}-dark: darken(@color, 20%);

  .generate-root-vars(@i + 1);
}

:root {
  .generate-root-vars();
  --size-larger: 300px;
  --size-large: 250px;
  --size-medium: 200px;
  --size-small: 150px;
  --size-smaller: 100px;
}



html, body{
    background-color: var(--darkblue-dark);
    color: var(--lightblue-dark);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

@import "./spinner.less";
@import "./navbar.less";
@import "./repository.less";