header {
  nav {
    background-color: var(--blue-dark);
    color: var(--lightblue-dark);
    padding: 0.25rem;
    position: sticky;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.25rem var(--blue-light);

    h2 {
      margin: 0;
      display: flex;
      padding: 0.25rem;
    }
  }
}
