:root {
  --black: #1f1f1f;
  --black-light: #525252;
  --black-dark: #000000;
  --white: #f1f1f1;
  --white-light: #ffffff;
  --white-dark: #bebebe;
  --darkred: darkred;
  --darkred-light: #f10000;
  --darkred-dark: #250000;
  --red: red;
  --red-light: #ff6666;
  --red-dark: #990000;
  --darkblue: darkblue;
  --darkblue-light: #0000f1;
  --darkblue-dark: #000025;
  --blue: blue;
  --blue-light: #6666ff;
  --blue-dark: #000099;
  --lightblue: lightblue;
  --lightblue-light: #fbfdfe;
  --lightblue-dark: #5fb3ce;
  --green: green;
  --green-light: #00e600;
  --green-dark: #001a00;
  --yellow: yellow;
  --yellow-light: #ffff66;
  --yellow-dark: #999900;
  --purple: purple;
  --purple-light: #e600e6;
  --purple-dark: #1a001a;
  --gold: #ffd700;
  --gold-light: #ffe766;
  --gold-dark: #998100;
  --silver: silver;
  --silver-light: #f3f3f3;
  --silver-dark: #8d8d8d;
  --bronze: #cd7f32;
  --bronze-light: #e1b284;
  --bronze-dark: #7b4c1e;
  --size-larger: 300px;
  --size-large: 250px;
  --size-medium: 200px;
  --size-small: 150px;
  --size-smaller: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,
body {
  background-color: var(--darkblue-dark);
  color: var(--lightblue-dark);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.bumper {
  height: 4.2rem;
}
/* Spinner styling */
.spinner {
  display: none;
  padding: 50px;
  text-align: center;
  z-index: 5;
  position: absolute;
  top: 50%;
  left: calc(50% - 45px);
}
/* Spinner loading state */
.spinner.loading {
  display: block;
}
/* Spinner number styling */
#spinnerNumber {
  width: 90px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 50px);
  display: inline-flex;
  justify-content: center;
  flex-flow: row wrap;
}
/* Spinner load styling */
#spinnerLoad {
  top: calc(-33% - 15px);
  left: calc(50% - 45px);
  position: absolute;
  display: flex;
}
/* Spinner progress more styling */
#spinnerLoad #progressMore {
  display: flex;
  flex-flow: row wrap;
  width: 90px;
}
/* Spinner loading animation */
.spinner.loading:before {
  content: "";
  height: 90px;
  width: 90px;
  margin: -15px auto auto -15px;
  position: absolute;
  top: calc(50% - 45px);
  left: calc(50% - 45px);
  border-width: 8px;
  border-style: solid;
  border-color: var(--blue-dark) var(--blue-light) var(--blue-light);
  border-radius: 100%;
  animation: rotation 0.7s infinite linear;
}
/* Rotation animation */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
header {
  position: fixed;
  width: 100%;
  z-index: 2;
}
header nav {
  display: flex;
  flex-flow: row wrap;
  background-color: var(--blue-dark);
  color: var(--lightblue-dark);
  padding: 0.25rem;
  position: sticky;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.25rem var(--blue-light);
  justify-content: space-between;
}
header nav h2 {
  margin: 0;
  display: flex;
  padding: 0.25rem;
  flex-flow: column;
  justify-content: center;
}
header nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
header nav ul:nth-child(2) {
  flex-flow: row wrap;
}
header nav ul:nth-child(2) li {
  display: block;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--black-dark);
  cursor: pointer;
  pointer-events: visible;
  margin: 0 0.25rem;
}
header nav ul:nth-child(2) li:hover {
  background-color: var(--black);
}
header nav ul:nth-child(3) {
  position: absolute;
  top: 3.5rem;
  left: 2rem;
}
header nav ul:nth-child(3) li input {
  display: none;
}
header nav ul:nth-child(3) li input + label {
  cursor: inherit;
  border: 2px solid var(--darkblue-dark);
  padding: 0.5rem;
  display: block;
  border-radius: 0.5rem;
  cursor: pointer;
  pointer-events: visible;
  margin: 0;
  background-color: var(--blue-dark);
  box-shadow: 0.25rem 0.25rem 0.25rem var(--blue-light);
  border-radius: 0 0 0.5rem 0.5rem;
}
header nav ul:nth-child(3) li input:checked + label {
  border-color: var(--lightblue-dark);
}
div.repository {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 3.33rem);
  z-index: 1;
  position: relative;
}
div.repository h3 {
  width: 100%;
  text-align: center;
}
div.repository span {
  height: 2.8rem;
  width: 100%;
}
div.repository .card {
  position: relative;
  text-align: center;
  border-radius: 1rem;
  min-width: var(--size-larger);
  max-width: var(--size-larger);
  min-height: var(--size-larger);
  max-height: var(--size-larger);
  margin: 0.5rem auto;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 0.25rem var(--blue-light);
}
@media (max-width: 722px) {
  div.repository .card {
    min-width: var(--size-medium);
    max-width: var(--size-medium);
    min-height: var(--size-medium);
    max-height: var(--size-medium);
  }
}
div.repository .card::before {
  content: attr(data-title);
  display: block;
  padding: 0.5rem;
  background-color: var(--blue-dark);
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
div.repository .card .img-div {
  background-color: var(--black);
  position: relative;
  overflow: hidden;
  height: 100%;
  align-content: space-evenly;
  display: block;
}
div.repository .card .img-div:hover .overlay {
  animation: shake 0.3s ease-in-out;
}
div.repository .card .img-div img {
  width: 100%;
  scale: 0.8;
}
div.repository .card .img-div img.fullheight {
  width: unset;
  height: 100%;
}
div.repository .card .img-div img.folder {
  scale: 0.8;
}
div.repository .card .img-div .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/folder.png");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  opacity: 0.7;
  z-index: 1;
}
div.repository .separator {
  margin: 2rem;
  width: 100%;
  box-shadow: 0.25rem 0.25rem 0.25rem var(--blue-light);
  border-color: var(--lightblue-dark);
}
div.repository .carousel {
  overflow: hidden;
}
div.repository .carousel .carousel-container {
  width: 100%;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}
div.repository .carousel .carousel-container .carousel-tracker {
  display: flex;
  width: fit-content;
  scroll-snap-align: center;
}
div.repository .carousel .carousel-container .carousel-tracker .card {
  flex: 0 0 calc(100% / var(--max-items));
  scroll-snap-align: start;
  box-sizing: border-box;
  margin: 0 1.5rem;
  min-width: var(--size-medium);
  max-width: var(--size-medium);
  min-height: var(--size-medium);
  max-height: var(--size-medium);
}
@media (max-width: 722px) {
  div.repository .carousel .carousel-container .carousel-tracker .card {
    min-width: var(--size-small);
    max-width: var(--size-small);
    min-height: var(--size-small);
    max-height: var(--size-small);
  }
}
div.repository .carousel .btn {
  background-color: var(--blue-dark);
  color: var(--blue-light);
  position: relative;
  border: 1px solid var(--blue-dark);
  font-size: x-large;
  padding: 0.25rem;
  border-radius: 3rem;
  margin: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.25rem var(--blue-light);
  cursor: pointer;
}
div.repository .carousel .btn span {
  height: unset;
}
div.repository .carousel .btn.btnLeft {
  float: left;
}
div.repository .carousel .btn.btnRight {
  float: right;
}
div.repository .carousel .btn.hidden {
  visibility: hidden;
}
div.repository .download {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 1.5rem;
  bottom: 1rem;
  background-color: var(--blue-dark);
  border-radius: 2rem;
  box-shadow: 0.25rem 0.25rem 0.25rem var(--blue-light);
  border: 2px solid var(--darkblue-dark);
  z-index: 10;
}
div.repository .download .anchor {
  color: var(--lightblue);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: unset;
  cursor: pointer;
}
div.repository .download .anchor span {
  height: unset;
  width: unset;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-5px) rotate(-5deg);
  }
  50% {
    transform: translateX(5px) rotate(5deg);
  }
  100% {
    transform: translateX(0);
  }
}
